<div class="row">
    <div class="col-xs-12">
        <img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive" style="max-height: 400px; width: 500px;">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{selectedRecipe?.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle">
                Manage recipe<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="addToShoppingList()" style="cursor: pointer;">To shopping list</a></li>
                <li><a style="cursor: pointer;" [routerLink] = "['edit']">Edit recipe</a></li>
                <li><a style="cursor: pointer;" (click) = "onDelete()">Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{selectedRecipe?.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor = "let i of selectedRecipe?.ingredients">
                {{i?.name}} {{i?.amount}}
            </li>
        </ul>
    </div>
</div>
